<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Bookings</h2>
                <button onclick="openBookingDialog()"><i class="material-icons">add</i>New Booking</button>
            </div>
            <table id="rented-table" class="display" style="width:100%;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Booking Date</th>
                        <th>Car Model</th>
                        <th>Full Name</th>
                        <th>From</th>
                        <th>To</th>
                    </tr>
                </thead>
                <tbody style="text-wrap: nowrap;">
                </tbody>
            </table>
        </div>
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Cars</h2>
                <button onclick="openBookingDialog()"><i class="material-icons">add</i>New Car</button>
            </div>
            <table id="available_cars" class="display" style="width:100%;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </thead>
                <tbody style="text-wrap: nowrap;">
                </tbody>
            </table>

        </div>
    </div>

    <div class="row">
        <div class="card">
            <h2 class="card-title">Registration Expiring Soon</h2>
            <table id="registration-table" class="display" style="width:100%;">
                <thead>
                    <tr>
                        <th>Brand</th>
                        <th>Model</th>
                        <th>Make Year</th>
                        <th style="color: #fa5246; font-weight: 800">Registration Expiry</th>
                        <th>Action</th>
                    </tr>
                </thead>
                
                <tbody style="text-wrap: nowrap;">
                </tbody>
            </table>
        </div>
        <div class="card">
            <h2 class="card-title">Maintenance Due Soon</h2>
            <table id="maintenance-table" class="display" style="width:100%;">
                <thead>
                    <tr>
                        <th>Brand</th>
                        <th>Model</th>
                        <th>Make Year</th>
                        <th>Last Maintenance</th>
                        <th style="color: #fa5246; font-weight: 800">Due Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody style="text-wrap: nowrap;">
                </tbody>
            </table>
        </div>
    </div>
    <dialog class="form-dialog" id="add_new_car">
        <h2 class="title">New Payment</h2>
        <div class="dialog-form-column">
            <div class="group">
                <input required="" type="text" placeholder="" class="input" value="<?php echo $current_rate; ?>"
                    disabled>
                <label class="form-label">Today's Rate</label>
            </div>
            <div class="group">
                <input required="" type="text" placeholder="" value="<?php echo $closed_rate; ?>" class="input"
                    disabled>
                <label class="form-label">Closed Rate</label>
            </div>
            <div class="group">
                <select class="input" required>
                    <option value="" selected>Select</option>
                    <option value="1">00</option>
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                    <option value="5">05</option>
                </select>
                <label class="form-label">Type Of Payment*</label>
            </div>
            <div class="group">
                <label class="form-label">Currency*</label>
                <select class="input">
                    <option value="" selected>Select</option>
                    <option value="1">NGN</option>
                    <option value="2">USD</option>
                </select>
            </div>
            <div class="group">
                <input required="" type="text" value="" class="input">
                <label class="form-label">Payment Amount*</label>
            </div>
            <div class="group">
                <input required="" type="text" placeholder="" class="input">
                <label class="form-label">Notes</label>
            </div>
            <div class="middle-buttons">
                <button type="button" class="button cancel" onclick="closeCarDialog()">Cancel</button>
                <button type="button" class="button submit">Add</button>
            </div>
        </div>
    </dialog>
    <dialog class="form-dialog" id="add_new_booking">
        <h2 class="title">New Booking</h2>
        <div class="dialog-form-column">
            <div class="group">
                <select class="input" id="car-select" name="car_id" required>
                    <option value="" selected>Select</option>
                </select>
                <label class="form-label">Car*</label>
            </div>
            <div class="group">
                <label class="form-label">Client*</label>
                <select class="input" id="client-select" name="client_id" required>
                    <option value="" selected>Select</option>
                </select>
            </div>
            <script>
                // Fetch data and populate car-select dropdown
                fetch('/api/carsV')
                    .then(response => response.json())
                    .then(data => {
                        const carSelect = document.getElementById('car-select');
                        data.forEach(car => {
                            const option = document.createElement('option');
                            option.value = car[0];
                            option.textContent = car[8] + ' ' + car[4] + ' ' + car[5];
                            carSelect.appendChild(option);
                        });
                    })
                    .catch(error => console.error('Error fetching cars:', error));

                fetch('/api/clients')
                    .then(response => response.json())
                    .then(data => {
                        const clientSelect = document.getElementById('client-select');
                        data.forEach(client => {
                            const option = document.createElement('option');
                            option.value = client[0];
                            option.textContent = client[4] + ' ' + client[5] + ' ' + client[6];
                            clientSelect.appendChild(option);
                        });
                    })
                    .catch(error => console.error('Error fetching clients:', error));
            </script>
            <div class="group">
                <input required="" type="date" id="start_date" name="start_date" class="input">
                <label class="form-label">From*</label>
            </div>
            <div class="group">
                <input required="" type="date" id="end_date" name="end_date" class="input">
                <label class="form-label">To*</label>
            </div>
            <div class="middle-buttons">
                <button type="button" class="button cancel" onclick="closeBookingDialog()">Cancel</button>
                <button type="button" class="button submit" onclick="submitBookingForm()">Add</button>
            </div>
        </div>
    </dialog>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    <script>
        function openCarDialog() {
            document.getElementById('add_new_car').showModal();
        }
        function closeCarDialog() {
            document.getElementById('add_new_car').close();
        }
        function openBookingDialog() {
            document.getElementById('add_new_booking').showModal();
        }
        function closeBookingDialog() {
            document.getElementById('add_new_booking').close();
        }        
    </script>
    <script>
        $(document).ready(function () {
            const rentedTable = new DataTable("#rented-table", {
                ordering: true,
                paging: false,
                info: false,
                searching: true,
                responsive: true,
                scrollCollapse: false,
                scrollY: '25vh',
            });

            const availableCarsTable = new DataTable("#available_cars", {
                ordering: true,
                paging: false,
                info: false,
                searching: true,
                responsive: true,
                scrollCollapse: false,
                scrollY: '25vh',
            });

            const maintenanceTable = new DataTable("#maintenance-table", {
                ordering: true,
                paging: false,
                info: false,
                searching: true,
                responsive: true,
                scrollCollapse: false,
                scrollY: '25vh',
            });

            const registrationTable = new DataTable("#registration-table", {
                ordering: true,
                paging: false,
                info: false,
                searching: true,
                responsive: true,
                scrollCollapse: false,
                scrollY: '25vh',
            });

            fetch('/api/bookingsV')
                .then(response => response.json())
                .then(data => {
                    const rentedTableBody = document.querySelector('#rented-table tbody');
                    data.forEach(booking => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                    <td>${booking[0]}</td>
                    <td>${new Date(booking[1]).toISOString().split('T')[0]}</td>
                    <td>${booking[23] + ' ' + booking[19] + ' ' + booking[20]}</td>
                    <td>${booking[8] + ' ' + booking[9] + ' ' + booking[10]}</td>
                    <td>${new Date(booking[4]).toISOString().split('T')[0]}</td>
                    <td>${new Date(booking[5]).toISOString().split('T')[0]}</td>
                `;
                        rentedTableBody.appendChild(row);
                    });
                    rentedTable.clear().draw();
                    data.forEach(booking => {
                        const formattedBooking = [
                            booking[0],
                            new Date(booking[1]).toISOString().split('T')[0],
                            booking[23] + ' ' + booking[19] + ' ' + booking[20],
                            booking[8] + ' ' + booking[9] + ' ' + booking[10],
                            new Date(booking[4]).toISOString().split('T')[0],
                            new Date(booking[5]).toISOString().split('T')[0]
                        ];
                        rentedTable.row.add(formattedBooking).draw(false);
                    });
                })
                .catch(error => console.error('Error fetching bookings:', error));
            fetch('/api/cars_maintenance/registration_expiry')
                .then(response => response.json())
                .then(data => {
                    const registrationTableBody = document.querySelector('#registration-table tbody');
                    data.forEach(registration => {
                        const row = document.createElement('tr');
                        const formattedDate = new Date(registration[19]).toLocaleDateString('en-GB', {
                            day: '2-digit',
                            month: 'short',
                            year: 'numeric'
                        }).replace(/ /g, ' ');
                        row.innerHTML = `
                    <td>${registration[8]}</td>
                    <td>${registration[4]}</td>
                    <td>${registration[5]}</td>
                    <td style="color: #ff7d7d;">${formattedDate}</td>
                    <td><button onclick="updateExpiration(${registration[0]})">Update</button></td>
                `;
                        registrationTableBody.appendChild(row);
                    });
                    registrationTable.clear().draw();
                    data.forEach(registration => {
                        const formattedDate = new Date(registration[19]).toLocaleDateString('en-GB', {
                            day: '2-digit',
                            month: 'short',
                            year: 'numeric'
                        }).replace(/ /g, ' ');
                        const formattedRegistration = [
                            registration[8],
                            registration[4],
                            registration[5],
                            `<span style="color: #fa5246; font-weight: 800">${formattedDate}</span>`,
                            `<button class="button" style="font-size:1rem; background-color: #fa5246" onclick="updateExpiration(${registration[0]})">Update</button>`
                        ];
                        registrationTable.row.add(formattedRegistration).draw(false);
                    });
                })
                .catch(error => console.error('Error fetching registrations:', error));

                fetch('/api/cars_maintenance/need_service_soon')
                .then(response => response.json())
                .then(data => {
                    const maintenanceTableBody = document.querySelector('#maintenance-table tbody');
                    data.forEach(registration => {
                        const row = document.createElement('tr');
                        const dueDate = new Date(registration[18]).toLocaleDateString('en-GB', {
                            day: '2-digit',
                            month: 'short',
                            year: 'numeric'
                        }).replace(/ /g, ' ');
                        const lastDate = new Date(registration[17]).toLocaleDateString('en-GB', {
                            day: '2-digit',
                            month: 'short',
                            year: 'numeric'
                        }).replace(/ /g, ' ');

                        row.innerHTML = `
                    <td>${registration[8]}</td>
                    <td>${registration[4]}</td>
                    <td>${registration[5]}</td>
                    <td>${lastDate}</td>
                    <td style="color: #ff7d7d;">${dueDate}</td>
                    <td><button onclick="updateExpiration(${registration[0]})">Update</button></td>
                `;
                        maintenanceTableBody.appendChild(row);
                    });
                    maintenanceTable.clear().draw();
                    data.forEach(registration => {
                        const lastDate = new Date(registration[17]).toLocaleDateString('en-GB', {
                            day: '2-digit',
                            month: 'short',
                            year: 'numeric'
                        }).replace(/ /g, ' ');
                        const dueDate = new Date(registration[18]).toLocaleDateString('en-GB', {
                            day: '2-digit',
                            month: 'short',
                            year: 'numeric'
                        }).replace(/ /g, ' ');                        
                        const formattedRegistration = [
                            registration[8],
                            registration[4],
                            registration[5],
                            lastDate,
                            `<span style="color: #fa5246; font-weight: 800">${dueDate}</span>`,
                            `<button class="button" style="font-size:1rem; background-color: #fa5246" onclick="updateExpiration(${registration[0]})">Update</button>`
                        ];
                        maintenanceTable.row.add(formattedRegistration).draw(false);
                    });
                })
                .catch(error => console.error('Error fetching registrations:', error));
        });

    </script>
    <script>
        async function submitBookingForm() {
            const carId = document.getElementById('car-select').value;
            const clientId = document.getElementById('client-select').value;
            const startDate = document.getElementById('start_date').value;
            const endDate = document.getElementById('end_date').value;

            if (!carId || !clientId || !startDate || !endDate) {
                alert('Please fill in all required fields.');
                return;
            }
            if (startDate >= endDate) {
                alert('End date must be after start date.');
                return;
            }

            const data = {
                car_id: carId,
                client_id: clientId,
                start_date: startDate,
                end_date: endDate,
            };

            try {
                const response = await fetch('/api/bookings', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                });

                if (response.ok) {
                    alert('Booking added successfully!');
                    document.getElementById('car-select').value = "";
                    document.getElementById('client-select').value = "";
                    document.getElementById('start_date').value = "";
                    document.getElementById('end_date').value = "";

                    closeBookingDialog();
                    location.reload();
                } else {
                    const error = await response.json();
                    alert('Error: ' + (error.message || 'Failed to add booking.'));
                }
            } catch (error) {
                alert('Error: ' + error.message);
            }
        }

    </script>
</body>

</html>