<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Bookings</h2>
                <button onclick="openBookingDialog()"><i class="material-icons">add</i>New Booking</button>
            </div>
            <table id="rented-table" class="display" style="width:100%;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Booking Date</th>
                        <th>Car Model</th>
                        <th>Full Name</th>
                        <th>From</th>
                        <th>To</th>
                    </tr>
                </thead>
                <tbody style="text-wrap: nowrap;">
                </tbody>
            </table>
        </div>
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Cars</h2>
                <button onclick="openCarDialog()"><i class="material-icons">add</i>New Car</button>
            </div>
            <table id="available_cars" class="display" style="width:100%;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </thead>
                <tbody style="text-wrap: nowrap;">
                </tbody>
            </table>

        </div>
    </div>

    <div class="row">
        <div class="card">
            <h2 class="card-title">Registration Expiring Soon</h2>
            <table id="registration-table" class="display" style="width:100%;">
                <thead>
                    <tr>
                        <th>Brand</th>
                        <th>Model</th>
                        <th>Make Year</th>
                        <th style="color: #fa5246; font-weight: 800">Registration Expiry</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody style="text-wrap: nowrap;">
                </tbody>
            </table>
        </div>
        <div class="card">
            <h2 class="card-title">Maintenance Due Soon</h2>
            <table id="maintenance-table" class="display" style="width:100%;">
                <thead>
                    <tr>
                        <th>Brand</th>
                        <th>Model</th>
                        <th>Make Year</th>
                        <th>Last Maintenance</th>
                        <th style="color: #fa5246; font-weight: 800">Due Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody style="text-wrap: nowrap;">
                </tbody>
            </table>
        </div>
    </div>

    <dialog class="form-dialog" id="add_new_car">
        <h2 class="title">New Car</h2>
        <div class="dialog-form-column">
            <div class="group">
                <input type="text" id="vin_number" name="vin_number" class="input" required>
                <label class="form-label">VIN number*</label>
            </div>
            <div class="group">
                <input type="date" id="purchase_date" name="purchase_date" class="input" required>
                <label class="form-label">Purchase Date*</label>
            </div>
            <div class="group">
                <label class="form-label">Brand*</label>
                <select class="input" id="brand-select" name="brand_id" required>
                    <option value="" selected>Select</option>
                </select>
                <script>
                    fetch('/api/brands')
                        .then(response => response.json())
                        .then(data => {
                            const brandSelect = document.getElementById('brand-select');
                            data.forEach(brand => {
                                const option = document.createElement('option');
                                option.value = brand[0];
                                option.textContent = brand[1];
                                brandSelect.appendChild(option);
                            });
                        })
                        .catch(error => console.error('Error fetching cars:', error));
                </script>
            </div>
            <div class="group">
                <input type="text" id="model" name="model" class="input" required>
                <label class="form-label">Model*</label>
            </div>
            <div class="group">
                <input type="text" id="make" name="make" class="input" required>
                <label class="form-label">Make Year*</label>
            </div>
            <div class="group">
                <input type="text" id="rental_price" name="rental_price" class="input" required>
                <label class="form-label">Rental Price Per Day*</label>
            </div>
            <div class="group">
                <input type="text" id="insurance_price" name="insurance_price" class="input" required>
                <label class="form-label">Insurance Price Per Day*</label>
            </div>
            <div class="group">
                <select class="input" id="transmission" name="transmission">
                    <option value="" selected>Select</option>
                    <option value="Automatic">Automatic</option>
                    <option value="Manual">Manual</option>
                </select>
                <label class="form-label">Transmission*</label>
            </div>
            <div class="group">
                <input type="text" id="fuel_type" name="fuel_type" class="input" required>
                <label class="form-label">Fuel Type*</label>
            </div>
            <div class="group">
                <input type="text" id="engine_size" name="engine_size" class="input" required>
                <label class="form-label">Engine Size*</label>
            </div>
            <div class="group">
                <input type="text" id="horsepower" name="horsepower" class="input" required>
                <label class="form-label">HorsePower*</label>
            </div>
            <div class="group">
                <input type="text" id="mileage" name="mileage" class="input" required>
                <label class="form-label">Mileage*</label>
            </div>
            <div class="group">
                <input type="text" id="seating_capacity" name="seating_capacity" class="input" required>
                <label class="form-label">Seating Capacity*</label>
            </div>
            <div class="group">
                <input type="text" id="color" name="color" class="input" required>
                <label class="form-label">Color*</label>
            </div>
            <div class="group">
                <input type="text" id="options" name="options" class="input" required>
                <label class="form-label">Options*</label>
            </div>
            <div class="group">
                <input type="date" id="last_service_date" name="last_service_date" class="input" required>
                <label class="form-label">Last Service Date*</label>
            </div>
            <div class="group">
                <input type="date" id="service_due_date" name="service_due_date" class="input" required>
                <label class="form-label">Next Service Date*</label>
            </div>
            <div class="group">
                <input type="date" id="registration_expiration_date" name="registration_expiration_date" class="input"
                    required>
                <label class="form-label">Registration Expiry Date*</label>
            </div>
            <div class="group">
                <input type="file" id="images" name="images" class="input" required multiple>
                <label class="form-label">Upload Images*</label>
            </div>
            <div class="group">
                <select class="input" id="accident_history" name="accident_history" required>
                    <option value="" selected></option>
                    <option value="True">Yes</option>
                    <option value="False">No</option>
                </select>
                <label class="form-label">Been in an Accident*<label>
            </div>
            <div class="middle-buttons">
                <button type="button" class="button cancel" onclick="closeCarDialog()">Cancel</button>
                <button type="button" class="button submit" onclick="submitCarDialog()">Add</button>
            </div>
        </div>
    </dialog>
    <dialog class="form-dialog" id="add_new_booking">
        <h2 class="title">New Booking</h2>
        <div class="dialog-form-column">
            <div class="group">
                <select class="input" id="car-select" name="car_id" required>
                    <option value="" selected>Select</option>
                </select>
                <label class="form-label">Car*</label>
            </div>
            <div class="group">
                <label class="form-label">Client*</label>
                <select class="input" id="client-select" name="client_id" required>
                    <option value="" selected>Select</option>
                </select>
            </div>
            <script>
                fetch('/api/carsV')
                    .then(response => response.json())
                    .then(data => {
                        const carSelect = document.getElementById('car-select');
                        data.forEach(car => {
                            const option = document.createElement('option');
                            option.value = car[0];
                            option.textContent = car[8] + ' ' + car[4] + ' ' + car[5];
                            carSelect.appendChild(option);
                        });
                    })
                    .catch(error => console.error('Error fetching cars:', error));

                fetch('/api/clients')
                    .then(response => response.json())
                    .then(data => {
                        const clientSelect = document.getElementById('client-select');
                        data.forEach(client => {
                            const option = document.createElement('option');
                            option.value = client[0];
                            option.textContent = client[4] + ' ' + client[5] + ' ' + client[6];
                            clientSelect.appendChild(option);
                        });
                    })
                    .catch(error => console.error('Error fetching clients:', error));
            </script>
            <div class="group">
                <input required="" type="date" id="start_date" name="start_date" class="input">
                <label class="form-label">From*</label>
            </div>
            <div class="group">
                <input required="" type="date" id="end_date" name="end_date" class="input">
                <label class="form-label">To*</label>
            </div>
            <div class="middle-buttons">
                <button type="button" class="button cancel" onclick="closeBookingDialog()">Cancel</button>
                <button type="button" class="button submit" onclick="submitBookingForm()">Add</button>
            </div>
        </div>
    </dialog>

    <dialog class="form-dialog" id="update_maintenance">
        <h2 class="title">Update Maintenance</h2>
        <div class="dialog-form-column">
            <div class="group">
                <input required="" type="text" id="car_id" name="car_id" class="input" disabled>
                <label class="form-label">Car ID*</label>
            </div>
            <div class="group">
                <input required="" type="text" id="car_name" name="car_name" class="input" disabled>
                <label class="form-label">Car*</label>
            </div>
            <div class="group">
                <input required="" type="date" id="registration_expiration_date_u" name="registration_expiration_date_u"
                    class="input">
                <label class="form-label">Registration Expiry Date*</label>
            </div>
            <div class="group">
                <input required="" type="date" id="last_service_date_u" name="last_service_date_u" class="input">
                <label class="form-label">Last Service Date*</label>
            </div>
            <div class="group">
                <input required="" type="date" id="service_due_date_u" name="service_due_date_u" class="input">
                <label class="form-label">Next Service Date*</label>
            </div>
            <div class="group">
                <select class="input" id="accidents_history_u" name="accidents_history_u" required>
                    <option value="True">Yes</option>
                    <option value="False">No</option>
                </select>
                <label class="form-label">Been in an Accident*</label>
            </div>
            <div class="middle-buttons">
                <button type="button" class="button cancel" onclick="closeMaintenanceDialog()">Cancel</button>
                <button type="button" class="button submit" onclick="submitMaintenanceDialog()">Update</button>
            </div>
        </div>
    </dialog>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    <script>
        function openCarDialog() {
            document.getElementById('add_new_car').showModal();
        }
        function closeCarDialog() {
            document.getElementById('add_new_car').close();
        }
        function openBookingDialog() {
            document.getElementById('add_new_booking').showModal();
        }
        function closeBookingDialog() {
            document.getElementById('add_new_booking').close();
        }
        function closeMaintenanceDialog() {
            document.getElementById('update_maintenance').close();
        }
        function updateMaintenance(id) {
            const dialog = document.getElementById('update_maintenance');
            dialog.showModal();

            fetch(`/api/cars_maintenance/${id}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to fetch data');
                    }
                    return response.json();
                })
                .then(data => {
                    data.forEach(registration => {
                        document.getElementById('car_id').value = registration[0];
                        document.getElementById('car_name').value = registration[1];

                        document.getElementById('registration_expiration_date_u').value = formatDate(registration[2]);
                        document.getElementById('last_service_date_u').value = formatDate(registration[3]);
                        document.getElementById('service_due_date_u').value = formatDate(registration[4]);

                        document.getElementById('accidents_history_u').value = registration[5] ? "True" : "False";
                    });
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                    alert('Failed to load maintenance details.');
                });
        }

        function formatDate(dateString) {
            const date = new Date(dateString);
            return date.toISOString().split('T')[0];
        }

    </script>
    <script>
        $(document).ready(function () {
            const rentedTable = new DataTable("#rented-table", {
                ordering: true,
                paging: false,
                info: false,
                searching: true,
                responsive: true,
                scrollCollapse: false,
                scrollY: '25vh',
            });

            const availableCarsTable = new DataTable("#available_cars", {
                ordering: true,
                paging: false,
                info: false,
                searching: true,
                responsive: true,
                scrollCollapse: false,
                scrollY: '25vh',
            });

            const maintenanceTable = new DataTable("#maintenance-table", {
                ordering: true,
                paging: false,
                info: false,
                searching: true,
                responsive: true,
                scrollCollapse: false,
                scrollY: '25vh',
            });

            const registrationTable = new DataTable("#registration-table", {
                ordering: true,
                paging: false,
                info: false,
                searching: true,
                responsive: true,
                scrollCollapse: false,
                scrollY: '25vh',
            });

            fetch('/api/bookingsV')
                .then(response => response.json())
                .then(data => {
                    const rentedTableBody = document.querySelector('#rented-table tbody');
                    data.forEach(booking => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                    <td>${booking[0]}</td>
                    <td>${new Date(booking[1]).toISOString().split('T')[0]}</td>
                    <td>${booking[23] + ' ' + booking[19] + ' ' + booking[20]}</td>
                    <td>${booking[8] + ' ' + booking[9] + ' ' + booking[10]}</td>
                    <td>${new Date(booking[4]).toISOString().split('T')[0]}</td>
                    <td>${new Date(booking[5]).toISOString().split('T')[0]}</td>
                `;
                        rentedTableBody.appendChild(row);
                    });
                    rentedTable.clear().draw();
                    data.forEach(booking => {
                        const formattedBooking = [
                            booking[0],
                            new Date(booking[1]).toISOString().split('T')[0],
                            booking[23] + ' ' + booking[19] + ' ' + booking[20],
                            booking[8] + ' ' + booking[9] + ' ' + booking[10],
                            new Date(booking[4]).toISOString().split('T')[0],
                            new Date(booking[5]).toISOString().split('T')[0]
                        ];
                        rentedTable.row.add(formattedBooking).draw(false);
                    });
                })
                .catch(error => console.error('Error fetching bookings:', error));
            fetch('/api/cars_maintenance/registration_expiry')
                .then(response => response.json())
                .then(data => {
                    const registrationTableBody = document.querySelector('#registration-table tbody');
                    data.forEach(registration => {
                        const row = document.createElement('tr');
                        const formattedDate = new Date(registration[19]).toLocaleDateString('en-GB', {
                            day: '2-digit',
                            month: 'short',
                            year: 'numeric'
                        }).replace(/ /g, ' ');
                        row.innerHTML = `
                    <td>${registration[8]}</td>
                    <td>${registration[4]}</td>
                    <td>${registration[5]}</td>
                    <td style="color: #ff7d7d;">${formattedDate}</td>
                    <td><button onclick="updateMaintenance(${registration[0]})">Update</button></td>
                `;
                        registrationTableBody.appendChild(row);
                    });
                    registrationTable.clear().draw();
                    data.forEach(registration => {
                        const formattedDate = new Date(registration[19]).toLocaleDateString('en-GB', {
                            day: '2-digit',
                            month: 'short',
                            year: 'numeric'
                        }).replace(/ /g, ' ');
                        const formattedRegistration = [
                            registration[8],
                            registration[4],
                            registration[5],
                            `<span style="color: #fa5246; font-weight: 800">${formattedDate}</span>`,
                            `<button class="button" style="font-size:1rem; background-color: #fa5246" onclick="updateMaintenance(${registration[0]})">Update</button>`
                        ];
                        registrationTable.row.add(formattedRegistration).draw(false);
                    });
                })
                .catch(error => console.error('Error fetching registrations:', error));

            fetch('/api/cars_maintenance/need_service_soon')
                .then(response => response.json())
                .then(data => {
                    const maintenanceTableBody = document.querySelector('#maintenance-table tbody');
                    data.forEach(registration => {
                        const row = document.createElement('tr');
                        const dueDate = new Date(registration[18]).toLocaleDateString('en-GB', {
                            day: '2-digit',
                            month: 'short',
                            year: 'numeric'
                        }).replace(/ /g, ' ');
                        const lastDate = new Date(registration[17]).toLocaleDateString('en-GB', {
                            day: '2-digit',
                            month: 'short',
                            year: 'numeric'
                        }).replace(/ /g, ' ');

                        row.innerHTML = `
                    <td>${registration[8]}</td>
                    <td>${registration[4]}</td>
                    <td>${registration[5]}</td>
                    <td>${lastDate}</td>
                    <td style="color: #ff7d7d;">${dueDate}</td>
                    <td><button onclick="updateMaintenance(${registration[0]})">Update</button></td>
                `;
                        maintenanceTableBody.appendChild(row);
                    });
                    maintenanceTable.clear().draw();
                    data.forEach(registration => {
                        const lastDate = new Date(registration[17]).toLocaleDateString('en-GB', {
                            day: '2-digit',
                            month: 'short',
                            year: 'numeric'
                        }).replace(/ /g, ' ');
                        const dueDate = new Date(registration[18]).toLocaleDateString('en-GB', {
                            day: '2-digit',
                            month: 'short',
                            year: 'numeric'
                        }).replace(/ /g, ' ');
                        const formattedRegistration = [
                            registration[8],
                            registration[4],
                            registration[5],
                            lastDate,
                            `<span style="color: #fa5246; font-weight: 800">${dueDate}</span>`,
                            `<button class="button" style="font-size:1rem; background-color: #fa5246" onclick="updateMaintenance(${registration[0]})">Update</button>`
                        ];
                        maintenanceTable.row.add(formattedRegistration).draw(false);
                    });
                })
                .catch(error => console.error('Error fetching registrations:', error));
        });

    </script>
    <script>
        async function submitBookingForm() {
            const carId = document.getElementById('car-select').value;
            const clientId = document.getElementById('client-select').value;
            const startDate = document.getElementById('start_date').value;
            const endDate = document.getElementById('end_date').value;

            if (!carId || !clientId || !startDate || !endDate) {
                alert('Please fill in all required fields.');
                return;
            }
            if (startDate >= endDate) {
                alert('End date must be after start date.');
                return;
            }

            const data = {
                car_id: carId,
                client_id: clientId,
                start_date: startDate,
                end_date: endDate,
            };

            try {
                const response = await fetch('/api/bookings', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                });

                if (response.ok) {
                    alert('Booking added successfully!');
                    document.getElementById('car-select').value = "";
                    document.getElementById('client-select').value = "";
                    document.getElementById('start_date').value = "";
                    document.getElementById('end_date').value = "";

                    closeBookingDialog();
                    location.reload();
                } else {
                    const error = await response.json();
                    alert('Error: ' + (error.message || 'Failed to add booking.'));
                }
            } catch (error) {
                alert('Error: ' + error.message);
            }
        }

        async function submitMaintenanceDialog() {
            const carId = document.getElementById('car_id').value;
            const registrationExpirationDate = document.getElementById('registration_expiration_date_u').value;
            const lastServiceDate = document.getElementById('last_service_date_u').value;
            const serviceDueDate = document.getElementById('service_due_date_u').value;
            const accidentHistory = document.getElementById('accidents_history_u').value;

            const comments = "No additional comments";

            if (!carId || !registrationExpirationDate || !lastServiceDate || !serviceDueDate || !accidentHistory) {
            alert('Please fill in all required fields.');
            return;
            }

            try {
            const response = await fetch(`/api/cars_maintenance/${carId}`, {
                method: 'PUT',
                headers: {
                'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                registration_expiration_date: registrationExpirationDate,
                last_service_date: lastServiceDate,
                service_due_date: serviceDueDate,
                accident_history: accidentHistory,
                comments: comments
                })
            });

            if (!response.ok) {
                const errorData = await response.json();
                alert(`Error: ${errorData.message || 'Failed to update maintenance record'}`);
                return;
            }

            const result = await response.json();
            alert(result.message);
            document.getElementById('car_id').value = "";
            document.getElementById('registration_expiration_date_u').value = "";
            document.getElementById('last_service_date_u').value = "";
            document.getElementById('service_due_date_u').value = "";
            document.getElementById('accidents_history_u').value = "";
            location.reload();
            } catch (error) {
            console.error('Error updating maintenance record:', error);
            alert('An error occurred. Please try again later.');
            }
        }

        async function submitCarDialog() {
            alert("Submitting car data...");

            const dialog = document.getElementById("add_new_car");

            const carData = {
            vin_number: dialog.querySelector("#vin_number").value,
            purchase_date: dialog.querySelector("#purchase_date").value,
            brand_id: dialog.querySelector("#brand-select").value,
            model: dialog.querySelector("#model").value,
            make: dialog.querySelector("#make").value,
            rental_price: dialog.querySelector("#rental_price").value,
            insurance_price: dialog.querySelector("#insurance_price").value,
            };

            try {
            const carResponse = await fetch('/api/cars', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(carData),
            });

            if (!carResponse.ok) {
                throw new Error(`Error creating car: ${await carResponse.text()}`);
            }

            const carResult = await carResponse.json();
            const carId = carResult.id;

            const carDetailsData = {
                transmission: dialog.querySelector("#transmission").value,
                fuel_type: dialog.querySelector("#fuel_type").value,
                engine_size: dialog.querySelector("#engine_size").value,
                horsepower: dialog.querySelector("#horsepower").value,
                mileage: dialog.querySelector("#mileage").value,
                seating_capacity: dialog.querySelector("#seating_capacity").value,
                color: dialog.querySelector("#color").value,
                options: dialog.querySelector("#options").value,
            };

            const carDetailsResponse = await fetch(`/api/cars_details/${carId}`, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(carDetailsData),
            });

            if (!carDetailsResponse.ok) {
                throw new Error(`Error creating car details: ${await carDetailsResponse.text()}`);
            }

            const maintenanceData = {
                last_service_date: dialog.querySelector("#last_service_date").value,
                service_due_date: dialog.querySelector("#service_due_date").value,
                registration_expiration_date: dialog.querySelector("#registration_expiration_date").value,
                accident_history: dialog.querySelector("#accident_history").value,
                comments: "No additional comments",
            };

            const maintenanceResponse = await fetch(`/api/cars_maintenance/${carId}`, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(maintenanceData),
            });

            if (!maintenanceResponse.ok) {
                throw new Error(`Error creating maintenance data: ${await maintenanceResponse.text()}`);
            }

            const images = dialog.querySelector("#images").files;
            const imagesFormData = new FormData();
            Array.from(images).forEach(image => imagesFormData.append("images", image));

            const imagesResponse = await fetch(`/api/cars_images/${carId}`, {
                method: 'POST',
                body: imagesFormData,
            });

            if (!imagesResponse.ok) {
                throw new Error(`Error uploading images: ${await imagesResponse.text()}`);
            }

            const imagesResult = await imagesResponse.json();

            alert("Car successfully created with ID: " + carId);
            console.log("Uploaded Images:", imagesResult.uploaded_images);

            dialog.querySelector("#vin_number").value = "";
            dialog.querySelector("#purchase_date").value = "";
            dialog.querySelector("#brand-select").value = "";
            dialog.querySelector("#model").value = "";
            dialog.querySelector("#make").value = "";
            dialog.querySelector("#rental_price").value = "";
            dialog.querySelector("#insurance_price").value = "";
            dialog.querySelector("#transmission").value = "";
            dialog.querySelector("#fuel_type").value = "";
            dialog.querySelector("#engine_size").value = "";
            dialog.querySelector("#horsepower").value = "";
            dialog.querySelector("#mileage").value = "";
            dialog.querySelector("#seating_capacity").value = "";
            dialog.querySelector("#color").value = "";
            dialog.querySelector("#options").value = "";
            dialog.querySelector("#last_service_date").value = "";
            dialog.querySelector("#service_due_date").value = "";
            dialog.querySelector("#registration_expiration_date").value = "";
            dialog.querySelector("#accident_history").value = "";
            dialog.querySelector("#images").value = "";

            location.reload();
            } catch (error) {
            console.error("Error submitting car:", error);
            alert(`Submission failed: ${error.message}`);
            }
        }


    </script>
</body>

</html>